@import "tailwindcss";

@theme {
  --font-sans: 'Segoe UI', system-ui, sans-serif;
  --font-brand: var(--font-oleo);
}

html, body {
  background-color: #e2e8f0 !important;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
